* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.244);
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    outline: none;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    padding-left: 8px;
    border: 1px solid rgba(0, 0, 0, 0.244);
    margin-right: 10px;
}

button {
    width: 25px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.244);
}

.user-cont {
    padding-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-child {
    width: 250px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-child > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parent {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
}
